
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
  body {
    font-family: 'Poppins', sans-serif;
  }
  a{
    text-decoration: none;
    color: whitesmoke;
  }
  header{
    position: relative;
    min-height: 60vh;
    background: url('./background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
  }
  .container{
    max-width: 1200;
    margin: auto;
    width: 90%;

  }
  .nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
  }
  .nav-items{
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  .headline{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .btn-headline{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 1rem;
    font-weight: 600;

  }
  .todo-section{
    margin-top: 5rem;
    text-align: center;

  }
<<<<<<< HEAD
  .bg-dark{
    background-color: black;
    color: #eee;
=======
  .todoColor{
    
>>>>>>> a531e1dd8995a1b96b66db51e1c5dd359c2ddabb
  }
  .form-todo{
    
    min-height: 5vh;
    display: flex;
    min-height: 100%;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .form-todo input[type="text"]{
    width: 78%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 400;


  }
  .form-todo input[type="submit"]{
    width: 20%;
    background-color: rgb(44, 55, 66);
    color: whitesmoke;
    font-weight: bold;

    

  }
  .section-signup{
    margin-top: 5rem;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 1rem;



  }
  .signup-form {
    max-width: 800px;
    width: 95%;
    margin: auto;


  }
  .signup-form label{
    display: block;
    text-align: left;

  }
  .signup-form input{
    display: block;
    width: 100%;
    padding: 0.5rem;

  }
.form-group{
  margin-top: 1rem;
}
.signup-form textarea{
   width: 100%;
}
.signup-btn{
  background-color: rgb(44, 55, 66);
  color: whitesmoke;
  padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: auto;
    font-weight: 600;
    display: inline-block;
    margin-top: 1rem;
}